{% extends "base.html" %}

{% block body %}
    <h3>How to use</h3>
        <ol>
    <li>Open the following google sheet <a href="https://docs.google.com/spreadsheets/d/19kdQAZzyb_1xmfqrXNoZ56WYW0orUIHI0PQaP0spZQM/edit#gid=0" target="_blank">https://docs.google.com/spreadsheets/d/19kdQAZzyb_1xmfqrXNoZ56WYW0orUIHI0PQaP0spZQM/edit#gid=0</a></li>
    <li>Go to File &gt; Make a Copy</li>
    <li>
        Fill the columns shown in the sheet
        <ul>
            <li><code>Company</code> should be a name for you to identify the firm you are applying for</li>
            <li><code>URL</code> should be the link to a page with jobs posted for that company</li>
            <li><code>Keywords</code> is a list of job titles you are interested in</li>
            <li><code>Exclude</code> is a list of other related words that you definitely do not want</li>
        </ul>
    </li>
    <li>DO NOT CHANGE THE COLUMN NAMES</li>
    <li>You can add new columns, and change the locations of the columns, but do not change their names</li>
    <li>Once the sheet is ready, go to File &gt; Share &gt; Publish to Web</li>
    <li>Change "Entire Document" to the specific sheet</li>
    <li>Change "Web page" to "Comma-separated values"</li>
    <li>Click Publish</li>
    <li>Copy the link shown and paste below</li>
</ol>

    <form action="" onsubmit="sendMessage(event)">
        <!-- Input fields -->
        <div class="mb-3">
            <label for="inputLink" class="form-label">Link</label>
            <input type="url" class="form-control" id="inputLink" name="input_link" required>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="p-1"></div>
        <div class = "container mb-3" id='messages'>
        </div>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var div = document.createElement('div')
                div.innerHTML = event.data
                messages.appendChild(div)
            };
            function sendMessage(event) {
                var input = document.getElementById("inputLink")
                input.setAttribute('disabled', 'disabled');
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>

    </form>
{% endblock %}