{% extends "base.html" %}

{% block body %}
    <h3>How to use</h3>
        <ol>
    <li>Open the following google sheet <a href="https://docs.google.com/spreadsheets/d/19kdQAZzyb_1xmfqrXNoZ56WYW0orUIHI0PQaP0spZQM/edit#gid=0" target="_blank">https://docs.google.com/spreadsheets/d/19kdQAZzyb_1xmfqrXNoZ56WYW0orUIHI0PQaP0spZQM/edit#gid=0</a></li>
    <li>Go to File &gt; Make a Copy</li>
    <li>
        Fill the columns shown in the sheet
        <ul>
            <li><code>Company</code> should be a name for you to identify the firm you are applying for</li>
            <li><code>URL</code> should be the link to a page with jobs posted for that company</li>
            <li><code>Keywords</code> is a list of job titles you are interested in</li>
            <li><code>Exclude</code> is a list of other related words that you definitely do not want</li>
        </ul>
    </li>
    <li>DO NOT CHANGE THE COLUMN NAMES</li>
    <li>You can add new columns, and change the locations of the columns, but do not change their names</li>
    <li>Once the sheet is ready, go to File &gt; Share &gt; Publish to Web</li>
    <li>Change "Entire Document" to the specific sheet</li>
    <li>Change "Web page" to "Comma-separated values"</li>
    <li>Click Publish</li>
    <li>Copy the link shown and paste below</li>
    <li>For the Sample Sheet shown above, this would be <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTVzdEYMugeCsJiJsl9IgzzM4qlDx809eCVb6v1h_JPjuL59At11uIiEd06viOGp4jD3jFtSF2fuA5C/pub?gid=0&single=true&output=csv" target="_blank">https://docs.google.com/spreadsheets/d/e/2PACX-1vTVzdEYMugeCsJiJsl9IgzzM4qlDx809eCVb6v1h_JPjuL59At11uIiEd06viOGp4jD3jFtSF2fuA5C/pub?gid=0&single=true&output=csv</a></li>
</ol>

    <form action="" onsubmit="sendMessage(event)">
        <!-- Input fields -->
        <div class="mb-3">
            <label for="inputLink" class="form-label">Link</label>
            <input type="url" class="form-control" id="inputLink" name="input_link" required>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="p-1"></div>
        <div class="alert alert-danger" id="error" hidden>
            Check the columns at the link you entered!
        </div>
        <div class = "container mb-3" id="accept" hidden>
            <p>Found the sheet, starting scraping now! Once completed, a download link will be available</p>
        </div>
        <div class = "container mb-3" id="results_partial" hidden>
            <p>Starting to find results!</p>
        </div>
        <div class = "container mb-3" id="results_complete" hidden>
            <p>Found all results!</p>
        </div>
        <div class = "container mb-3" id="messages" >
        </div>
        <div class="mb-3">
            <a href="../out/" download="jobs.csv" class="btn btn-primary" hidden disabled id="download_button">Download table</a>
        </div>
        <div class="table table-responsive" id="results_table"></div>
        <script>
            var ws = new WebSocket("{{wsurl}}/ws");
            ws.onmessage = function(event) {
                var inst = JSON.parse(event.data)
                console.log(inst)
                if(inst.hasOwnProperty("update_table")){
                    var attr = document.getElementById("results_table")
                    attr.innerHTML = inst["update_table"]                    
                }
                else if(inst.hasOwnProperty("show")){
                    var attr = document.getElementById(inst['show'])
                    attr.hidden = false
                }
                else if(inst.hasOwnProperty("hide")){
                    var attr = document.getElementById(inst['hide'])
                    attr.hidden = true
                }
                else if(inst.hasOwnProperty("disable")){
                    var attr = document.getElementById(inst['disable'])
                    attr.disable = true
                }
                else if(inst.hasOwnProperty("enable")){
                    var attr = document.getElementById(inst['enable'])
                    attr.disable = false
                }
                else if(inst.hasOwnProperty("message")){
                    var attr = document.getElementById("messages")
                    var divp = document.createElement("p")
                    divp.innerHTML = inst["message"]
                    attr.appendChild(divp)
                }
                else if(inst.hasOwnProperty("update_link")){
                    var attr = document.getElementById("download_button")
                    attr.setAttribute("href", "../out/"+inst["update_link"]);
                    attr.appendChild(divp)
                }
                
            };
            function sendMessage(event) {
                var input = document.getElementById("inputLink")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>

    </form>
{% endblock %}